<nav class="navbar navbar-expand-lg text-indigo" style="background-color: #57cdf8">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">
      Chá bar Vitório e Gustavo
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/Sobre">Sobre nós</a>
        <a class="nav-link" href="/Entrar">Entrar</a>
      </div>
    </div>
  </div>
</nav>