<nav class="navbar is-transparent has-shadow is-spaced is-danger is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger is-transparent has-shadow is-spaced" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Inicio
      </a>
      <a class="navbar-item" href="/Sugestao">
        Sugestão de presentes
      </a>
      <a class="navbar-item" href="/Presenca">
        Presença
      </a>
    </div>
    </div>
  </div>
</nav>