<nav class="navbar is-transparent has-shadow is-spaced is-link is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger is-transparent has-shadow is-spaced" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Inicio
      </a>
      <a class="navbar-item" href="/Sobre">
        Sobre nós
      </a>
      <a class="navbar-item" href="/Entrar">
        Entrar
      </a>
    </div>
    </div>
  </div>
</nav>