<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container has-background-grey-lighter mt-auto">
  <section class="section is-small mt-3">
    <div>
      <section class="hero is-danger">
        <div class="hero-body">
          <h1 class="title has-text-centered has-text-weight-bold">Bem vindo ao chá bar da Vih e Gu</h1>

          <h2 class="subtitle has-text-centered ">
            <span class="has-text-weight-normal">Olá a todos será um prazer ter vocês com a gente nesse momento importante</span> 
          </h2>

          <h3 class="subtitle has-text-centered">
            <span class="has-text-weight-normal">Contamos com sua presença</span> 
          </h3>

          <p class="subtitle has-text-centered">
            Decidimos criar esse site como um guia, convite e controle para conseguirmos informar a todos
          </p>

          <div class="tile is-parent">
            <div class="tile is-child box has-text-primary">
              <p class="title has-text-primary has-text-centered has-uppercase">Informações</p>
              <p>Nos encontraremos na Rua Tal Numero 8</p>
              <p>No dia tal do mes tal</p>
              <p>Das 00:00 as 23:59</p>
            </div>
            
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>
