<%- include('partials/head.ejs') %>
<nav class="navbar navbar-expand-lg justify-content-end" style="background-color: #00bbff">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #000000">
      Chá bar Vitório e Gustavo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="color: #000000">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" style="color: #000000" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" style="color: #000000" href="/Sobre">Sobre nós</a>
        <a class="nav-link" style="color: #000000" href="/Entrar">Entrar</a>
      </div>
    </div>
  </div>
</nav>

<%- include('partials/foot.ejs') %>
