<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<section class="section is-small mt-6">
  
<% if(presencaMarcada == true) { %> 
  <div class="notification is-primary ">
    <button class="delete"></button>
    Sua presença foi confirmada, muito obrigado por estar com a gente nesse momento tão importante!!!
  </div>
  <% } %> 

  <section class="hero is-danger">
    <div class="hero-body">
      <div class="tile is-parent">
        <div class="tile is-child box has-text-primary">
          <div class="content">
            <h2 class="subtitle has-text-centered">
              <span class="has-text-weight-normal has-text-primary">Confirme sua presença!</span> 
            </h2>
            
            <form action="/confirmarPresenca" class="box" method="POST">
              <div class="field">
                <label class="label">Nome: </label>
                <div class="control">
                  <input name="nome" class="input" type="text" placeholder="Digite seu nome">
                </div>
              </div>

              <div class="field">
                <label class="label">Acompanhantes: </label>
                <div class="control">
                  <input name="acompanhantes" class="input" type="text" placeholder="Quantos acompanhantes">
                </div>
              </div>

              <div class="field">
                <label class="label">Presente: </label>
                <div class="control">
                  <input name="presente" class="input" type="text" placeholder="Qual presente escolheu">
                </div>
              </div>

              <button class="button is-fullwidth is-primary is-outlined is-centered">Confirmar</button>
            </form>
          </div>
        </div>
      </div>
  </section>
</section>

<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>
