<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container has-background-grey-lighter mt-auto">
  <section class="section is-small mt-3">
    <section class="hero is-danger">
      <div class="hero-body">
        <h1 class="title has-text-centered">Aqui está nossa lista de sugestões</h1>
        <div class="tile is-parent">
          <div class="tile is-child box has-text-primary">
            <div class="content">
              <h2 class="subtitle has-text-centered">
                <span class="has-text-weight-normal has-text-primary">Aqui está todos os itens que ainda precisamos</span> 
              </h2>
              <ol type="1">
                <li>Pratos</li>
                <li>Talheres</li>
                <li>Potinhos</li>
                <li>Potinhos</li>
                <li>Potinhos</li>
                <li>Potinhos</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child box has-text-primary">
            <div class="content">
              <h2 class="subtitle has-text-centered">
                <span class="has-text-weight-normal has-text-primary">Aqui está todos os itens que ainda precisamos</span> 
              </h2>
              <ol type="1">
                <li>CookTop</li>
                <li>Batedeira</li>
                <li>Liquidificador</li>
                <li>Copos</li>
                <li>Liquidificador</li>
              </ol>
            </div>
          </div>
        </div>
    </section>
  </section>
</div>

<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>
