@charset "utf-8";
@import url('../assets/bulma/sass/utilities/initial-variables.sass');
@import url('../assets/bulma/sass/utilities/functions.sass');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

$family-serif: "Rubik", serif;
$family-primary: $family-serif;

@import "../../node_modules/bulma/bulma.sass";



html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

.content.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* used this for multiple child */
    align-items: center; /* if an only child */
  }